/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/private/
/.git-appota
/.git-switch
app/Modules/Common/node_modules
.phpintel/*
/.phpintel/*
node_modules/
storage/framework/
storage/framework/*
app/Modules/Common/node_modules/
app/Modules/Cms/node_modules/
app/Modules/Api/node_modules/
app/Modules/Client/node_modules/

